@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "avenir-heavy";
  src: url("./assets/fonts/avenir-heavy.ttf") format("truetype");
}

* {
  font-family: "avenir-heavy";
}
