<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Generated Image</title>
    <link rel="stylesheet" href="../css/tailwing.css">
</head>
<body>
    <div class="p-4 bg-gray-200">
        <img src="data:image/png;base64,{{image}}" />
        <p class="text-blue-600" >{{texto1}}</p>
        <p>{{texto2}}</p>
    </div>
</body>
</html>
